<div class="row form-section card-section visible-section" role="tabpanel">
	<div class="section-body">
		<div class="form-column col-sm-12">
		</div>
	</div>

	<div class="section-body">
		<div class="form-column col-sm-12">
			<table class="vehicle-table">
				<thead>
					<tr>
						<th style="width:8%">{%= __("Project") %}</th>
						<th style="width:12%">Model</th>
						<th style="width:8%">Vehicle</th>
						<th style="width:15%">Customer Name</th>
						<th style="width:12%">Voice of Customer</th>
						<th style="width:10%">Status</th>
						<th style="width:10%" class="text-center">Tasks</th>
						<th style="width:15%">Expected Delivery</th>
						<th style="width:10%" class="text-center"></th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
	</div>
</div>