<div class="row form-section card-section visible-section" role="tabpanel">
	<div class="section-body">
		<div class="form-column col-sm-12">
		</div>
	</div>

	<div class="section-body">
		<div class="form-column col-sm-12">
			<table class="task-table">
				<thead>
					<tr>
						<th style="width:6%">{%= __("Project") %}</th>
						<th style="width:20%">Task</th>
						<th style="width:6%">Model</th>
						<th style="width:6%">Vehicle</th>
						<th style="width:6%" class="text-center">Standard (Hrs)</th>
						<th style="width:11%" class="text-center">Start Time</th>
						<th style="width:11%" class="text-center">End Time</th>
						<th style="width:6%" class="text-center">Elapsed (Hrs)</th>
						<th style="width:8%">Technician</th>
						<th style="width:5%">Status</th>
						<th style="width:5%"></th>
					</tr>
				</thead>
				<tbody></tbody>
			</table>
		</div>
	</div>
</div>
