<h5>
	{{ title }}
</h5>

{% set colspan = 6 %}
{% if show_amount %}
	{% set colspan = colspan + 2 %}
{% endif %}
{% if show_sales_order %}
	{% set colspan = colspan + 1 %}
{% endif %}
{% if show_delivery_note %}
	{% set colspan = colspan + 1 %}
{% endif %}
{% if show_proforma_invoice %}
	{% set colspan = colspan + 1 %}
{% endif %}
{% if show_sales_invoice %}
	{% set colspan = colspan + 1 %}
{% endif %}
{% if show_invoice %}
	{% set colspan = colspan + 1 %}
{% endif %}
{% if show_material_request %}
	{% set colspan = colspan + 1 %}
{% endif %}
{% if show_stock_entry %}
	{% set colspan = colspan + 1 %}
{% endif %}

<div style="overflow-x: auto; margin-bottom: 1rem;">
<table class="table table-bordered" style="font-size: 9pt; margin: 0;">
	<thead>
		<tr>
			<th class="text-center">#</th>
			<th>{{ _("Date") }}</th>
			<th>{{ _("Item Code") }}</th>
			<th>{{ _("Description") }}</th>
			<th class="text-right">{{ _("Qty") }}</th>
			<th>{{ _("UOM") }}</th>
			{% if show_amount %}
			<th class="text-right">{{ _("Rate") }}</th>
			<th class="text-right">{{ _("Amount") }}</th>
			{% endif %}
			{% if show_sales_order %}<th>{{ _("Sales Order") }}</th>{% endif %}
			{% if show_delivery_note %}<th>{{ _("Delivery Note") }}</th>{% endif %}
			{% if show_proforma_invoice %}<th>{{ _("Proforma Invoice") }}</th>{% endif %}
			{% if show_sales_invoice %}<th>{{ _("Sales Invoice") }}</th>{% endif %}
			{% if show_invoice %}<th>{{ _("Invoice") }}</th>{% endif %}
			{% if show_material_request %}<th>{{ _("Material Request") }}</th>{% endif %}
			{% if show_stock_entry %}<th>{{ _("Stock Entry") }}</th>{% endif %}
		</tr>
	</thead>

	<tbody>
	{% for d in data['items'] %}
		<tr>
			<td class="text-center">
				{{ d.idx }}
			</td>

			<td class="text-center text-nowrap">
				{{ frappe.format(d.posting_date or d.transaction_date, df=frappe.get_meta("Sales Invoice").get_field("posting_date")) }}
			</td>

			<td>
				{{ frappe.utils.get_link_to_form('Item', d.item_code, target='_blank') }}
			</td>

			<td>
				{{ d.item_name }}
				{% if frappe.utils.strip_html(frappe.utils.cstr(d.description)).strip() %}
					{{ frappe.format(d.description, df=frappe.get_meta("Sales Invoice Item").get_field("description")) }}
				{% endif %}
			</td>

			<td class="text-right">
				{{ frappe.format(d.qty, df=frappe.get_meta("Sales Invoice Item").get_field("qty")) }}
			</td>

			<td>
				{{ d.uom }}
			</td>

			{% if show_amount %}
			<td class="text-right">
				{{ frappe.format(d.net_rate, df=frappe.get_meta("Sales Invoice Item").get_field("rate")) }}
			</td>

			<td class="text-right">
				{{ frappe.format(d.net_amount, df=frappe.get_meta("Sales Invoice Item").get_field("amount")) }}
			</td>
			{% endif %}

			{% if show_sales_order %}
			<td class="text-nowrap">
				{{ frappe.utils.get_link_to_form('Sales Order', d.sales_order, target='_blank') if d.sales_order else '' }}
			</td>
			{% endif %}

			{% if show_delivery_note %}
			<td class="text-nowrap">
				{{ frappe.utils.get_link_to_form('Delivery Note', d.delivery_note, target='_blank') if d.delivery_note else '' }}
			</td>
			{% endif %}

			{% if show_proforma_invoice %}
			<td class="text-nowrap">
				{% for inv in d.proforma_invoice %}
					<div>{{ frappe.utils.get_link_to_form('Proforma Invoice', inv, target='_blank') }}</div>
				{% endfor %}
			</td>
			{% endif %}

			{% if show_sales_invoice %}
			<td class="text-nowrap">
				{% for inv in d.sales_invoice %}
					<div>{{ frappe.utils.get_link_to_form('Sales Invoice', inv, target='_blank') }}</div>
				{% endfor %}
			</td>
			{% endif %}

			{% if show_invoice %}
			<td class="text-nowrap">
				{% for inv_dt, inv in d.invoice %}
					<div>{{ frappe.utils.get_link_to_form(inv_dt, inv, target='_blank') }}</div>
				{% endfor %}
			</td>
			{% endif %}

			{% if show_material_request %}
			<td class="text-nowrap">
				{{ frappe.utils.get_link_to_form('Material Request', d.material_request, target='_blank') if d.material_request else '' }}
			</td>
			{% endif %}

			{% if show_stock_entry %}
			<td class="text-nowrap">
				{{ frappe.utils.get_link_to_form('Stock Entry', d.stock_entry, target='_blank') if d.stock_entry else '' }}
			</td>
			{% endif %}
		</tr>
	{% endfor %}

	{% if not data['items'] %}
		<tr>
			<td colspan="{{ colspan }}" class="text-center text-muted">No Items</td>
		</tr>
	{% endif %}

	</tbody>

	{% if data['items'] %}
	<tfoot>
		<tr style="font-weight: bold;">
			<td></td>
			<td></td>
			<td></td>
			<td>{{ _("Total") }}</td>
			<td class="text-right">
				{{ frappe.format(data.total_qty, df=frappe.get_meta("Sales Invoice").get_field("total_qty")) }}
			</td>
			<td></td>
			{% if show_amount %}
			<td></td>
			<td class="text-right">
				{{ frappe.format(data.net_total, df=frappe.get_meta("Sales Invoice").get_field("net_total")) }}
			</td>
			{% endif %}
			{% if show_sales_order %}<td></td>{% endif %}
			{% if show_delivery_note %}<td></td>{% endif %}
			{% if show_proforma_invoice %}<td></td>{% endif %}
			{% if show_sales_invoice %}<td></td>{% endif %}
			{% if show_invoice %}<td></td>{% endif %}
			{% if show_material_request %}<td></td>{% endif %}
			{% if show_stock_entry %}<td></td>{% endif %}
		</tr>
	</tfoot>
	{% endif %}
</table>
</div>
