<div class="form-group" style="overflow-x: auto;">
<table class="table table-bordered" style="font-size: 9pt; margin: 0;">
	<thead>
		<tr>
			<th class="text-center" style="width: 2%;">#</th>
			<th>{{ _("Timesheet") }}</th>
			<th>{{ _("Employee") }}</th>
			<th>{{ _("Task") }}</th>
			<th>{{ _("Start Time") }}</th>
			<th>{{ _("End Time") }}</th>
			<th class="text-center">{{ _("Hrs") }}</th>
		</tr>
	</thead>

	<tbody>
	{% for d in data %}
		<tr>
			<td class="text-center">{{ loop.index }}</td>
			<td>
				<a href="{{ frappe.utils.get_url_to_form("Timesheet", d.timesheet) }}" target="_blank">
					{{ d.timesheet }}
				</a>
			</td>
			<td>
				<a href="{{ frappe.utils.get_url_to_form("Employee", d.employee) }}" target="_blank">
					{{ d.employee_name or d.employee }}
				</a>
			</td>
			<td>
				{% if d.task %}
					<a href="{{ frappe.utils.get_url_to_form("Task", d.task) }}" target="_blank">
						{{ d.subject or d.task_type or "" }}
					</a>
				{% else %}
					{{ d.subject or d.task_type or "" }}
				{% endif %}
			</td>
			<td>{{ frappe.utils.format_date(d.from_time) + ", " + frappe.utils.format_time(d.from_time, "hh:mm a") if d.from_time else "" }}</td>
			<td>{{ frappe.utils.format_date(d.to_time) + ", " + frappe.utils.format_time(d.to_time, "hh:mm a") if d.to_time else "" }}</td>
			<td class="text-center">{{ frappe.format(flt(d.hours), precision=2) }}</td>
		</tr>
	{% endfor %}

	{% if not data %}
		<tr>
			<td colspan="7" class="text-center text-muted">{{ _("No Time Logs") }}</td>
		</tr>
	{% endif %}
	</tbody>

	{% if data %}
	<tfoot>
		<tr>
			<th></th>
			<th>Total</th>
			<th></th>
			<th></th>
			<td>{{ frappe.utils.format_date(totals.from_time) + ", " + frappe.utils.format_time(totals.from_time, "hh:mm a") if totals.from_time else "" }}</td>
			<td>{{ frappe.utils.format_date(totals.to_time) + ", " + frappe.utils.format_time(totals.to_time, "hh:mm a") if totals.to_time else "" }}</td>
			<th class="text-center">{{ frappe.format(flt(totals.hours), precision=2) }}</th>
		</tr>
	</tfoot>
	{% endif %}
</table>
</div>
