{% if data.__onload && data.__onload.maintenance_schedule_data  %}
	{% var schedules = data.__onload.maintenance_schedule_data %}
{% endif %}

{% if schedules && schedules.length  %}
<table class="table table-bordered table-striped" style="margin-top:0; margin-bottom: 8px;">
	<thead>
		<tr>
			<th style="width: 3%;" class="text-center">#</th>
			<th>Scheduled Date</th>
			<th>Service Template</th>
			<th>Service Template Name</th>
			<th>Service Type</th>
			<th>Reference Type</th>
			<th>Reference Name</th>
			<th>Reference Date</th>
		</tr>
	</thead>
	<tbody>
		{% var count = 1 %}
		{% for schedule in schedules %}
		<tr>
			<th class="text-center">{{ count++ }}</th>
			<td>{{ frappe.datetime.str_to_user(schedule.scheduled_date) }}</td>
			<td>{{ schedule.service_template }}</td>
			<td>{{ schedule.service_template_name }}</td>
			<td>{{ schedule.service_type }}</td>
			<td>{{ __(schedule.reference_doctype) }}</td>
			<td>
				{% var doctype = encodeURIComponent(frappe.router.slug(schedule.reference_doctype)) %}
				{% var docname = encodeURIComponent(schedule.reference_name) %}

				<a href="/app/{%= doctype %}/{%= docname %}">
					{{ schedule.reference_name }}
				</a>
			</td>
			<td>{{ frappe.datetime.str_to_user(schedule.reference_date) }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% else %}
<b>No Maintenance Schedule found for this Vehicle</b>
{% endif %}
